
.navbar{
    background-color: aquamarine;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.navitems{
    text-decoration: none;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.left-side{
    display: flex;
}
.right-side{
    display: flex;
}
.active{
    color: red;
}